<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etiennelawlor.moviehub">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieHubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieHub">

        <!-- Activities -->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MovieHub.MainActivity.Launcher" />

        <!-- use an alias in case we want to change the launch activity later without breaking
             homescreen shortcuts.  Note must be defined after the targetActivity -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.moviedetails.MovieDetailsActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.MovieHub.MovieDetailsActivity"/>

        <activity
            android:name=".ui.televisionshowdetails.TelevisionShowDetailsActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.MovieHub.TelevisionShowDetailsActivity"/>

        <activity
            android:name=".ui.persondetails.PersonDetailsActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.MovieHub.PersonDetailsActivity"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label=""
            android:theme="@style/Theme.MovieHub.SearchActivity"/>

    </application>

</manifest>
